<div class="tarjeta">
	<%= abonado.nombre %>
	<ul>
		<li><span class="enfasis">NIS</span> <%= abonado.NIS %></li>
		<li><span class="enfasis">C.I.</span> <%= abonado.ci %></li>
		<li><span class="enfasis">Direccion</span> <%= abonado.direccion %></li>
		<li><span class="enfasis">Tel</span> <%= abonado.telefono %></li>
		<li><span class="enfasis">mail</span> <%= abonado.mail %></li>
		<li><span class="enfasis">RUC</span> <%= abonado.ruc %> </li>
		<li><span class="enfasis">Equipo</span> <%= abonado.serial %></li>
	</ul>
</div>
