<section ng-controller="userController as user">
	<div ng-mouseover="mc.above(-5)">	
		<div class="separador {{ mc.color(1) }}"></div>
		<h5><span ng-class="{enfasis:mc.active(), info:mc.info(-5)}">Informe General</span></h5>
	</div>
        <div class="spacing"></div>
	
	<div class="tarjeta1" id="UserInfo">
		<div>
			<div class="titulo">
				<div><i class="icon mdi-action-settings-remote color-9" ></i><span>Acceso a los datos</span></div>
				<h3><%= abonado.nombre %></h3>
			</div>
			<div class="contenido">
				<ul>
					<li><span class="enfasis">NIS</span> <%= abonado.NIS %></li>
					<li><span class="enfasis">C.I.</span> <%= abonado.ci %></li>
					<li><span class="enfasis">Direccion</span> <%= abonado.direccion %></li>
					<li><span class="enfasis">Tel</span> <%= abonado.Telefono %></li>
					<li><span class="enfasis">mail</span> <%= abonado.mail %></li>
					<li><span class="enfasis">RUC</span> <%= abonado.ruc %> </li>
					<li id='serial'><span class="enfasis">Equipo</span> <%= abonado.serial %></li>
				</ul>
			</div>
		</div>
	</div>
    <div class="mobileBox" id="bg-green"> 
        <div> 
            <h3>Consumo</h3>
            <p>{{ user.parametros['Energia Activa'] }}</p>
            <span>{{user.parametros['fecha']}}</span>
        </div>
        <div><i class="mdi-action-settings-input-component"></i></div>
        <div class="clear"></div>
    </div>
    <div class="mobileBox" id="bg-yellow">
        <div>
            <h3>Demanda máxima</h3>
            <p>{{user.parametros['Demanda Maxima']}}</p>
            <span>{{user.parametros['fecha']}}</span>
        </div>
        <div id="border-burn"><i id="color-burn" class="mdi-device-battery-charging-full"></i></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <!-- Opcion para acotar el area de visualizacion de los charts de abajo -->
    <div id="chartOption">
        <h3>Para tener en cuenta!</h3>
        <p>Los graficos que se muestran a continuacion nos presentan las lecturas hechas durante el dia, para acotar el rango de visualizacion, modifique los siguientes campos</p>
        <div class="row">
            <div class="col-md-2 checkbox color-3"><label><input ng-model="user.allday" type="checkbox"> Dia completo </label></div>
            <div class="col-md-4 color-3">
                <label for="selecthour1">desde</label>
                <div>
                    <select id="selecthour1" class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 color-3">
                <label for="selecthour1">hasta</label>
                <div>
                    <select id="selecthour1" class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                    </select>
                </div>
            </div>
 
        </div>
    </div>

    <!--Corrientes de las lineas-->
    <div id="currentCharts" ng-class="{'active':user.seeChart}">
        <div>
            <div class="mobileBox">
                <div>
                    <h3>Energia Activa</h3>
                    <span></span>
                    <div id="Kw"></div>
                </div>
            </div>
            <div class="mobileBox">
                <div>
                    <h3>Corriente de Linea 1</h3>
                    <span></span>
                    <div id="I1"></div>
                </div>
            </div>
            <div class="mobileBox">
                <div>
                    <h3>Corriente de Linea 2</h3>
                    <span></span>
                    <div id="I2"></div>
                </div>
            </div>
            <div class="mobileBox">
                <div>
                    <h3>Corriente de Linea 3</h3>
                    <span></span>
                    <div id="I3"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

	<div ng-mouseover="mc.above(-6)">	
		<div class="separador {{ mc.color(1) }}"></div>
		<h5><span ng-class="{enfasis:mc.active(), info:mc.info(-6)}">Resumen de los ultimos {{ user.slider1 }} dias</span></h5>
	</div>
	<!--charts de google-->
	<!-- resumen en dias -->
	<div class="tarjeta-chart">
		<div>
			<div class="titulo">
				<div><i class="icon mdi-action-trending-down color-10" ></i><span>Infografia del consumo</span></div>
				<h3>Tendencia de los ultimos dias</h3>
			</div>
			<div class="contenido-chart" ng-class="{'active':user.seeChart1}">
				<div id="chart1"></div>
			</div>
                        <div class="popup" ng-class="{'active':!user.seeChart1}">
                            <div>
                                <h3>Ops! Faltan datos</h3>
                                <p>Mueva el slider para ver los datos guardados de los dias anteriores. Si no se encuentran registros de las lecturas, es posible que exista un inconveniente con el dispositivo que extra las informacion del medidor</p>
                            </div>
                        </div>
			<div class="control border-top1 bcolor-5">
				<span class="enfasis">2</span>
				<div class="slider shor" id="slider1"></div>
				<span class="enfasis">30</span>
			</div>
		</div>
	</div>

        <div class="spacing"></div>
        <div class="spacing"></div>

	<div ng-mouseover="mc.above(-7)">	
		<div class="separador {{ mc.color(2) }}"></div>
		<h5><span ng-class="{enfasis:mc.active(), info:mc.info(-7)}">Resumen de los ultimos {{ user.slider2 }} meses</span></h5>
	</div>
	<!-- resumen en meses -->
	<div class="tarjeta-chart">
		<div>
			<div class="titulo">
				<div><i class="icon mdi-social-poll color-12" ></i><span>Infografia del consumo</span></div>
				<h3>Tendencia de los ultimos meses</h3>
			</div>
			<div class="contenido-chart" ng-class="{'active':user.seeChart2}">
				<div id="chart2"></div>
			</div>
                        <div class="popup" ng-class="{'active':!user.seeChart2}">
                            <div>
                                <h3>Ops! Falta algo</h3>
                                <p>Esta empezando con el servicio, muy pronto se tendra los datos suficientes que detalle su consumo total por mes</p>
                            </div>
                        </div>
			<div class="control border-top1 bcolor-7">
				<span class="enfasis">2</span>
				<div class="slider shor" id="slider2"></div>
				<span class="enfasis">12</span>
			</div>
		</div>
	</div>
</section>

<!-- scripts -->
	<!--google charts-->
   	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={
        'modules':[{
          'name':'visualization',
          'version':'1.1',
          'packages':['line', 'corechart','bar'],
          'languaje':'es',
        }]}">
   	</script>

	<!--Slider-->
	<script src="/javascripts/slider/nouislider.min.js" type="text/javascript" charset="utf-8"></script>
