<section ng-controller="userController as user">
	<div ng-mouseover="mc.above(-5)">	
		<div class="separador {{ mc.color(1) }}"></div>
		<h5><span ng-class="{enfasis:mc.active(), info:mc.info(-5)}">Informe General</span></h5>
	</div>
	
	<div class="tarjeta1">
		<div>
			<div class="titulo">
				<div><i class="icon mdi-action-settings-remote color-9" ></i><span>Acceso a los datos</span></div>
				<h3><%= abonado.nombre %></h3>
			</div>
			<div class="contenido">
				<ul>
					<li><span class="enfasis">NIS</span> <%= abonado.NIS %></li>
					<li><span class="enfasis">C.I.</span> <%= abonado.ci %></li>
					<li><span class="enfasis">Direccion</span> <%= abonado.direccion %></li>
					<li><span class="enfasis">Tel</span> <%= abonado.telefono %></li>
					<li><span class="enfasis">mail</span> <%= abonado.mail %></li>
					<li><span class="enfasis">RUC</span> <%= abonado.ruc %> </li>
					<li id='serial'><span class="enfasis">Equipo</span> <%= abonado.serial %></li>
				</ul>
			</div>
			<div class="extra bcolor-4 border-top1">
				<div>
					<span>Consumo</span><span class="corner-right">{{ user.parametros['Energia Activa'] }}</span>	
				</div>
			</div>
		</div>
	</div>

	<div ng-mouseover="mc.above(-6)">	
		<div class="separador {{ mc.color(2) }}"></div>
		<h5><span ng-class="{enfasis:mc.active(), info:mc.info(-6)}">Resumen de los ultimos {{ user.slider1 }} dias</span></h5>
	</div>
	<!--charts de google-->
	<!-- resumen en dias -->
	<div class="tarjeta1">
		<div>
			<div class="titulo">
				<div><i class="icon mdi-action-trending-down color-10" ></i><span>Infografia del consumo</span></div>
				<h3>Tendencia de los ultimos dias</h3>
			</div>
			<div class="contenido">
				<div id="chart1" style="width:700px"></div>
			</div>
			<div class="control border-top1 bcolor-5">
				<span class="enfasis">2</span>
				<div class="slider shor" id="slider1"></div>
				<span class="enfasis">30</span>
			</div>
		</div>
	</div>


	<div ng-mouseover="mc.above(-7)">	
		<div class="separador {{ mc.color(3) }}"></div>
		<h5><span ng-class="{enfasis:mc.active(), info:mc.info(-7)}">Resumen de los ultimos {{ user.slider2 }} meses</span></h5>
	</div>
	<!-- resumen en meses -->
	<div class="tarjeta1">
		<div>
			<div class="titulo">
				<div><i class="icon mdi-social-poll color-12" ></i><span>Infografia del consumo</span></div>
				<h3>Tendencia de los ultimos meses</h3>
			</div>
			<div class="contenido">
				<div id="chart2" style="width:700px"></div>
			</div>
			<div class="control border-top1 bcolor-7">
				<span class="enfasis">2</span>
				<div class="slider shor" id="slider2"></div>
				<span class="enfasis">12</span>
			</div>
		</div>
	</div>
</section>

<!-- scripts -->
	<!--google charts-->
   	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={
        'modules':[{
          'name':'visualization',
          'version':'1.1',
          'packages':['line', 'corechart']
        }]}">
   	</script>

	<!--Slider-->
	<script src="/javascripts/slider/nouislider.min.js" type="text/javascript" charset="utf-8"></script>
